<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:replace="fragments/header :: header"></th:block> /*/-->
        <div class="contaier" style="margin-top: 30px">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="panel panel-primary" style="width: 500px">    
                        <div class="panel-heading">
                            <h3 class="panel-title">Trabajadores</h3>
                        </div>    
                        <div class="row" >
                            <!--div class="col-xs-5" style="width: 200px">
                                <img src="img/acerca.jpg" alt="" style="width: 200px"/>
                            </div-->
                            <div class="col-xs-7" style="width: 250px;margin-left: 10px">   
                                <h4>Contrab: 1.0</h4>
                                <h4>Desarrollado por:</h4> 
                                <h5>Desoft Granma.</h5>
                                <h5>Todos los derechos reservados.</h5>
                                <h5>Julio de 2017</h5>
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
